@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  width:95vw;
  background: rgb(2,0,36);
  background: linear-gradient(36deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
p ,h1{
  user-select: none;
}
.collegenamelogo{
  font-size:36px;
  margin-top:-90px;
  margin-left:350px;
  color:#1b2945 ;
}
nav{
  background: #fdfeff;
  height: 80px;
  width: 100vw;
}
label.logo{
  color: #000000;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  margin-top: -60px;
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #020202;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.active,a:hover{
  color: #fdfeff;
  background: #1b2945;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.navlogo{
  height:80px;
  margin-left:-50px;
}
#check{
  display: none;
}
.collegenamelogo{
  margin-left:580px;
}
.flex-box{
  display: flex;
  width:100vw;
  height:79%;
  align-items: center;
  justify-content: center;
}
.container{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:32px;
  /* margin-left:100px; */
  border-radius:12px;
  height:70vh;
  width:25vw;
  background-color: #fdfeff;
  padding:50px;
}
img{
width:60px;
height:60px;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  /* background-color: ; */
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius:20px;
}
a{
  text-decoration: none;
  color:white;
}
.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  .ourteam{
    font-family: 'Ephesis', cursive;
  }
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .ourteam{
    font-family: 'Ephesis', cursive;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    
  }
  .fa-bars{
      background-color:#2c3e50;
      
  }
  ul{
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #03305e;
    top:140px ;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    color: #fdfeff;
    font-size: 20px;
  }
 
  a:hover,a.active{
    background: none;
    color: #2762d8;
  }
  #check:checked ~ ul{
    left: 0;
  }
  nav{
    width:100vw;
  }
  .collegenamelogo{
     font-size:13px;
    margin-left:115px;
    margin-top:-80px;
   
  }
  .flex-box{
    flex-direction: column;
    width:100vw;
    align-items: center;
    justify-content: center;
  }
  .container{
    flex-direction: column;
    margin-left:8.9vw;
    width:85%;
  }
 .ourteam{
    font-family: 'Ephesis', cursive;
  }
}