*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background-color: #1b2945;
  }
  .collegenamelogo{
    font-size:36px;
    margin-top:-90px;
    margin-left:350px;
    color:#1b2945 ;
  }
  nav{
    background: #fdfeff;
    height: 80px;
    width: 100vw;
  }
  label.logo{
    color: #000000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
   
  }
  nav ul{
    margin-top: -60px;
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #020202;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .active,a:hover{
    color: #fdfeff;
    background: #1b2945;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .navlogo{
    height:80px;
    margin-left:-30px;
  }
  #check{
    display: none;
  }
.container{
    padding:10px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    height:89vh;
    width:100vw;
    background-color:#1b2945;
}
.card{
    margin:30px;
    width:18rem;
    height: 30rem;
    border-radius:15px;
    background-color:#db4f80; 
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    transition: filter 0.6s ease-in;
}
.card:hover{
  filter: drop-shadow(5px 0px 10px  #6554AF);}

.bannerpic{
    height:230px;
    width:230px;
    border-radius:150px;
    margin:30px 29px 20px;  /*top left */
    border:#000000 solid 2px;
}













  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    .fa-bars{
        background-color:#2c3e50;
    }
    ul{
      z-index: 3;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #03305e;
      top:140px ;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      color: #fdfeff;
      font-size: 20px;
    }
   
    a:hover,a.active{
      background: none;
      color: #2762d8;
    }
    #check:checked ~ ul{
      left: 0;
      
    }
    .collegenamelogo{
      font-size:13px;
      margin-left:120px;
      margin-top:-80px;
    }
  }