*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background-color: #1b2945;
    width:100vw;
    max-width:100vw;
  }
  p ,h1{
    user-select: none;
  }
  .collegenamelogo{
    font-size:36px;
    margin-top:-80px;
    margin-left:350px;
    color:#1b2945 ;
  }
  nav{
    background: #fdfeff;
    height: 60px;
    width:100vw;
    max-width:100vw;    
  }
  label.logo{
    color: #000000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    margin-top: -60px;
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #020202;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .active,a:hover{
    color: #fdfeff;
    background: #1b2945;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .navlogo{
    height:60px;
    margin-left:-50px;
  }
  #check{
    display: none;
  }

  .container{
    height:88vh;
    width:100vw;
    max-width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formarea{
    margin-top:20px;
    height:10vh;
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#cbcbd4;
    border-radius: 15px;

  }
  select{
    width:20vw;
    height:3rem;
    text-align:center;
    border: none;
    border-radius:15px;
    margin-left:-60px;
  }
  option{
    transition: ease-in 0.6;
    border: none;
    width:10px;
  }
  .get-books-button{
    margin-left:30px;
    border-radius:15px;
    width:8rem;
    height: 3rem;

  }
  .semcounter{
    display:none;
  }
  .resultarea{
    width:90vw;
    height:72vh;
    background-color:#cbcbd4;
    border-radius: 15px;
    display: flex;
    align-items:center ;
    /* justify-content: center; */
    flex-direction: column;
  }
  table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: #9b9da0;
    margin-top:30px;
    display: none
  }
  td{
    width:430vh;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align:center;
    padding: 8px;
    
  }
  tr:nth-child(even) {
    background-color: rgb(5, 7, 138);
    color:#ffffff;
    
  }
  a{
    color:#ffffff;
  }
  .tableheading{
    font-size: 20px;
  }
  h1{
    margin-top:20px;
  }
  .get-books-button{
    border: none;
   
    transition: all  0.6s ease-in;
  }
  .get-books-button:hover{
    filter: drop-shadow(5px 0px 10px  #6554AF);
  }
  /* for college computer */
  @media(max-width:1202px ){
    .collegenamelogo{
      margin-left:250px;
      font-size:23px;
      text-align: left;
    }
    ul{
      padding:10px;
      height:80px;
    }
  } 
 
  @media screen and (max-width: 500px) {
    .container{
      flex-direction: column;
    }
    .collegenamelogo{
      display:none;   
    }
}
    @media (max-width: 952px){
      label.logo{
        font-size: 30px;
        padding-left: 50px;
      }
      nav ul li a{
        font-size: 16px;
      }
      .collegenamelogo{
        display:none;   
      }
    }
    @media (max-width: 858px){
      .checkbtn{
        display: block;
        margin-top:-10px;
        
      }
      .fa-bars{
          background-color:#2c3e50;
          
      }
      ul{
        z-index: 3;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #03305e;
        top:120px ;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        color: #fdfeff;
        font-size: 20px;
      }
     
      a:hover,a.active{
        background: none;
        color: #2762d8;
      }
      #check:checked ~ ul{
        left: 0;
           
      }
      .collegenamelogo{
        display:none;   
      } 
      .get-books-button{
        margin-left:30px;
      }
      #subjectselector{
        margin-left:15px;
        width:40%;
        text-overflow: ellipsis;
        
      }
    }


