
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Times New Roman', serif;
    background-color: #1b2945;
    width:100vw;
    overflow: hidden;
  }
  p ,h1{
    user-select: none;
  }
  .collegenamelogo{
    text-align: center;
    font-size:30px;
    margin-top:-80px;
    margin-left:320px;
    color:#1b2945 ;
    width:640px;
    overflow:hidden;
  }
  nav{
    background: #fdfeff;
    height: 60px;
    width: 100vw;
  }
  label.logo{
    color: #000000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    margin-top: -55px;
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #020202;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .active,a:hover{
    color: #fdfeff;
    background: #1b2945;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .navlogo{
    height:60px;
    margin-left:-50px;
  }
  #check{
    display: none;
  }
  .mainArea{
    display: flex;
    width:100%;
    height:100vh;
    align-items: center;
    justify-content: center;

  }
.container{
    width:60%;
    height:70%;
    background-color: #fdfeff;
    margin-bottom:70px;
    display: flex;
    filter: drop-shadow(5px 0px 10px  #6554AF);

}
.innerdivs{
    width: 50%;
    height:100%;
    background-color: aqua;
    z-index:1;
    padding:15px;
}
.slider{
    display: flex;
    position: absolute;
    width: 50%;
    height:100%;
    background-color: #3db166;
    z-index:3;
    left:50%;
    transition:  0.5s ease-in-out;
    align-items: center;
    justify-content: center;

}
.signin{
    display: flex;
    padding:20px;
    gap:20px;
    flex-direction: column;
    background-color: #fdfeff;
}
.input-box{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
.input-box>input{
    height:50px;
    border-radius:15px;
    padding-left:20px;
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
}
#loginbutton{
    width: 30%;
    height:10%;
    border-radius:25px;
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
#UserAvatar{
   width:40%;
   height:40%;
   border-radius:30px;
}




@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
    .collegenamelogo,.auto-text{
      display:none;
     
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
      margin-top:-10px;
      
    }
    .fa-bars{
        background-color:#2c3e50;
        
    }
    ul{
      z-index: 3;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #03305e;
      top:120px ;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      color: #fdfeff;
      font-size: 20px;
    }
   
    a:hover,a.active{
      background: none;
      color: #2762d8;
    }
    #check:checked ~ ul{
      left: 0;
         
    }
    nav{
      width:100vw;
  }
}