*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Times New Roman', serif;
    background-color: #1b2945;
    width:100vw;
  }
  p ,h1{
    user-select: none;
  }
  .collegenamelogo{
    text-align: center;
    font-size:30px;
    margin-top:-80px;
    margin-left:320px;
    color:#1b2945 ;
    width:640px;
    overflow:hidden;
  }
  nav{
    background: #fdfeff;
    height: 60px;
    width: 100vw;
  }
  label.logo{
    color: #000000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    margin-top: -55px;
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #020202;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .active,a:hover{
    color: #fdfeff;
    background: #1b2945;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .navlogo{
    height:60px;
    margin-left:-50px;
  }
  #check{
    display: none;
  }
  .input-box {
    position: relative;
    height: 66px;
    max-width: 600px;
    width: 100vw;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
     margin-top:20px;
    margin-left:450px; 
  }
  .input-box i, .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  .container{
    padding:30px;
    height:100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:50px;
  }
  .yearcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height:67vh;
    width: 45vh;
    background-color:#fdfeff;
    border-radius:15px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    transition: filter 0.6s ease-in;
  }
  .imageArea{
    overflow: hidden;
    margin-top:-60px;
    height:60%;
  }
  .yearcard:hover{
    overflow: hidden;
    filter: drop-shadow(5px 0px 10px  #6554AF);
  }
  .yearpicture{
    width:100%;
    height:100%;
    overflow: hidden;
    transition: 0.6s ease-in ;
  }
  .yearpicture:hover{
    transform: scale(1.2) ;
  }
  
  .semheader{
    margin-top:15px;
  }
  p{
    padding:8px;
    font-size:20px;
    text-align: center;
  }
  .routingbutton{
    padding:20px;
    font-size:18px;
    margin-top:40px;
    height:60px;
    width:250px;
    border-radius:30px;
    border: none;
    background:#3db166;
    background: linear-gradient(0deg,#3db166 0%,#3db166 100%);
    color: #fff;
    overflow: hidden;
  }
  .routingbutton:hover {
    text-decoration: none;
    color: #fff;
}
.routingbutton:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
@-webkit-keyframes shiny-btn1 {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
  .main-container{
    display:flex;
    flex-direction: row;
    height:88.7vh;
    width:100vw;
    padding:10px;
  }
  .carousel-container {
    width: 65vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    transition: filter 0.6s ease-in;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
  }
  .carousel-container:hover{
    filter: drop-shadow(5px 0px 10px  #6554AF);
  }
  .slide.active {
    opacity: 1;
  }
  .infoarea{
    height:35vh;
    width:98vw;
  }
  .slideimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .toph1{
    font-weight: bold;
    font-size:27px;
  }
  .toph1::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #3db166;
    margin-top: 10px;
    }
  .foundersInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
    margin-left:30px;
    width:100vw;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
  .foundersprofile{
    display: flex;
    flex-direction: row;
    background-color: #1b2945;
    height:45vh;
    width:98%;
    overflow: hidden;
  }
   .founderinfotag{
    user-select: none;
    text-align: left;
    color:#fdfeff;
    font-size:15px;
   }
  .headertags{
    color: #3db166;
  }
  .collegedetailsptag{
    font-size:16px;
    user-select: none;
    text-align: left;
  
  }
  .founderpic{
    width:35%;
    height:100%;
    
  }
  .contentbox{
    height:100vh;
    width:100vw;
  }
  .collegeDetails{
    margin-top:15px;
    width: 65vw;
  }
 .collegeInfoArea{
  display: flex;
  flex-direction: column;
 }
 .textWrapper{
  display: flex;
  flex-direction: column;
 }
  @media screen and (max-width: 500px) {
    .input-box {
      padding:15px;
      height: 60px;
      margin-top:20px;
      margin-left:1px;
      width:100%;
    }
    .input-box i {
      left: 12px;
      font-size: 25px;
    }
    .input-box input {
      padding: 0 112px 0 50px;
      width:360px;
    }
    .input-box .button {
      right: 12px;
      font-size: 14px;
      padding: 8px 18px;
    }
    .container{
      flex-direction: column;
    }
    .imageArea{
      margin-top:-85px;
    }
    .yearcard{
      width:93vw;
    }
    .yearpicture:focus{
      transform: scale(1.2) ;
    }
    p{
      margin-top:20px;
    }
    .routingbutton{
      height:60px;
      width:300px;
    }
    .carousel-container{
      margin-left:6px;
      height: 45vh;
    }
    .main-container{
      display: flex;
      flex-direction: column;
    }
    .carousel-container{
      width:100vw;
      margin-left:-8px;
      height:30vh;
    }
    .collegeDetails{
      width:100vw;
      margin-left:-8px;

    }
    .foundersInfo{
      margin-left: -10px;
    }
    .collegenamelogo,.auto-text{
      display:none;
     
    }
  }
  /* for college computer */
  /* @media(max-width:1202px ){
    .collegenamelogo{
      margin-left:250px;
      font-size:23px;
      text-align: left;
    }
    .input-box{
      width:500px;
      height:50px;
      margin-left:350px;
     }
    
  }  */
  @media (max-width: 952px){
      label.logo{
        font-size: 30px;
        padding-left: 50px;
      }
      nav ul li a{
        font-size: 16px;
      }
      .collegenamelogo,.auto-text{
        display:none;
       
      }
      .yearpicture:focus{
        transform: scale(1.2) ;
      }
    }
    @media (max-width: 858px){
      .checkbtn{
        display: block;
        margin-top:-10px;
        
      }
      .fa-bars{
          background-color:#2c3e50;
          
      }
      .yearpicture:focus{
        transform: scale(1.2) ;
      }
      ul{
        z-index: 3;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #03305e;
        top:120px ;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        color: #fdfeff;
        font-size: 20px;
      }
     
      a:hover,a.active{
        background: none;
        color: #2762d8;
      }
      #check:checked ~ ul{
        left: 0;
           
      }
      nav{
        width:100vw;
      }
      .collegenamelogo,.auto-text{
        display:none;
       
      }
    }